{% extends 'base.html' %}

<!-- {% block title %}ML App Home{% endblock %} -->

{% block content %}


<!-- Start -->
<div class="container">
  <div class="section">
     
    <!--   Icon Section   -->
    <div class="row">
      <div class="input-field col s12 m10">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">compare</i></h2>
          <form method="POST" action="/comparer">
            <textarea name="rawtext" cols="3" rows="5" class="form-control" required="true" placeholder="Enter text here"></textarea>
            <br/>
            <button class="btn btn-small waves-effect waves-light light-blue lighten-1" type="reset">Clear</button>
            <button class="btn btn-small waves-effect waves-light purple lighten-1" type="submit">Summarize</button>  
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<!-- Results -->
<section class="section section-solutions-about grey lighten-3 ">
  <div class="container">
    <div class="row">
      <div class="col s12 m8">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">compare</i></h2>
          <h5 class="center">Your Text</h5>
          <p class="light">{{ctext}}</p>
          <div class="alert alert-info" role="alert">
            <p>Reading Time: <span style="color:#0091EA;"> {{ final_reading_time }} min</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- SECTION: RESULTS FOR DIFFERENT SUMMARIZERS -->
<section class="section section-solutions-about grey lighten-3 ">
  <div class="container">

    <div class="row">
      <div class="col s12 m12 offset-m1">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3">
                <a href="#tab1" class="blue-text">SpaCy Summarizer</a>
              </li>
              <li class="tab col s3">
                <a href="#tab2" class="blue-text">Gensim Summarizer</a>
              </li>
              <li class="tab col s3">
                <a href="#tab3" class="blue-text">NLTK</a>
              </li>
              <li class="tab col s3">
                <a href="#tab4" class="blue-text">Sumy LexRank</a>
              </li>
            </ul>
          </div>
          <div id="tab1" class="col s12">
            <h5>SpaCy</h5>
            <div class="" ><p>Reading Time: <span style="color:#0091EA;">{{ summary_reading_time }} min</span></p></div>
            <div class="grey lighten-1"><p style="padding:5px;font-size:14px;">{{ final_summary_spacy }}</p></div>   
          </div>
          <div id="tab2" class="col s12">
            <h5>Gensim Summarizer</h5>
            <div class="">
              <p>Reading Time: <span style="color:#0091EA;">{{ summary_reading_time_gensim }} min</span></p>
            </div>              
            <div class="grey lighten-2">
              <p style="padding:5px;font-size:14px;">{{ final_summary_gensim }}</p>
            </div>
          </div>
          <div id="tab3" class="col s12">
            <h5>NLTK</h5>
            <div class="">
              <p>Reading Time: <span style="color:#0091EA;">{{ summary_reading_time_nltk }} min</span></p>
            </div>
            <div class="grey lighten-1">
              <p style="padding:5px;font-size:14px;">{{ final_summary_nltk }}</p>
            </div>
          </div>
          <div id="tab4" class="col s12">
            <h5>Sumy Summarizer</h5>
            <div class="">
              <p>Reading Time: <span style="color:#0091EA;">{{ summary_reading_time_sumy}} min</span></p>
            </div> 
            <div class="grey lighten-2">
              <p style="padding:5px;font-size:14px;">{{ final_summary_sumy }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12 m8">
        <div class="icon-block">
          <div class="alert alert-info" role="alert">
            <p><b>Time Elapsed:</b> <span style="color:#0091EA;">{{ final_time }} min</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}






  